@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;400&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Josefin Sans", sans-serif;
}
header {
  background: rgb(139, 139, 139);
  /* border-bottom: 1px solid rgb(197, 197, 197); */
}
header .navbar-brand img {
  width: 50px;
}
main {
  flex-grow: 1;
  background: linear-gradient(rgb(139, 139, 139), rgb(255, 255, 255));
}
main .title {
  text-align: center;
  margin-top: 20px;
}
main .weather-info-container .weather-input-group {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px 0px;
}
main .weather-info-container .weather-input-group input {
  border: navajowhite;
  outline: navajowhite;
  padding: 8px 8px;
}
main .weather-info-container .weather-input-group button {
  border: navajowhite;
  outline: navajowhite;
  margin-left: 10px;
  padding: 8px 8px;
  cursor: pointer;
}
footer {
  min-height: 100px;
  background: rgb(255, 255, 255);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0px 50px;
}
footer p {
  color: gray;
}
.weather-details {
  box-shadow: 2px 2px 4px #5a5a5a;
}
@media all and (max-width: 768px) {
  main .weather-block {
    width: 90%;
    margin: auto;
  }
  .about-text {
    margin-top: 30px;
  }
}
@media all and (min-width: 769px) {
  main .weather-block {
    width: 50%;
    margin: auto;
  }
}
.logo-img {
  max-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-img img {
  width: 100%;
  border-radius: 50% 25%;
}
